body {
    background-color: #414141;
    color: #fff;
}

[alt="imagesrc"]{
border: 5px solid rgb(204, 10, 248);
}   

p b{
/* display: none; */
/* opacity: 0; */
visibility: hidden;
}

#heading{
    /* color: rgb(238, 129, 5); */
    color: rgb(42, 221, 221);
}

 /* p{
    color: rgb(139, 202, 67);
    font-size: 18px;
    font-weight: bold;
}  */


.paraClass{
    color: rgb(236, 112, 17);
    font-size: 18px;
    font-weight: bold;
}


